<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="keyid" value="xxxxxxxxxxxxxxxxx"/>
		<add key="keyscert" value="ase加密后xxxxx"/>
		<add key="endpoint" value="xxxxxxxx.aliyuncs.com"/>
		<add key="bucket" value="xxxxxxxx"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>